<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<context:annotation-config/> <!-- Enables using annotations "@Autowired" to make bean wiring instead of XML -->

<bean id="provider" class="com.sherif.data.provider.DataProvider">
	<constructor-arg>
		<value>Constructor arg test</value>
	</constructor-arg>
</bean>

<bean id="renderer" class="com.sherif.data.renderer.DataRenderer">
<!-- 	<property name="dataProvider" ref="provider"></property>  -->
<!-- Note that there is no dataProvider property in the renderer. It is because the wiring requirement is specified through @Autowired annotation -->
</bean>
	
</beans>
